* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    font-family: "Microsoft YaHei";
    line-height: 1.6;
    background-color: #ffffff;
    color:#333;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}
.choices {
    display: flex;
    justify-content: space-between;
}
.choice {
    cursor: pointer;
    border: transparent 3px solid;
}
.choice:hover{
    border: #113DEE 3px solid;
}
.restart-btn {
    /* display: none; */
    background: #f4f4f4;
    color: #333333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1rem;

}
.restart-btn:hover {
    color: #ffffff;
    background: #5cbf2a;
    text-decoration: none;
  }

.header {
    text-align: center;
    margin: 1rem 0;
}
.header h1{
    margin-bottom: 1rem;
}
#score {
    display: flex;
}
#score p{
   flex: 5; 
   font-size: 1.2rem;
   color: #ffffff;
}
#score p:first-child{
    background:#113DEE;

}
#score p:last-child{
    background:#020820;

}
/*弹出框*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    animation-name: modalopen;
    animation-duration: 0.5s;

}
.modal-content {
    background-color: white;
    text-align: center;
    margin: 20% auto;
    width: 350px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);


}
.modal-content div img{
    width: 250px;
}
.modal-content p{
    font-size: 1.2rem;
}

.win {
    color: #28a475;

}
.lose {
    color: red;
}

/*动画*/
@keyframes modalopen {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*媒体查询*/
@media(max-width:900px) {
    img {
        width: 150px;
    }
}

@media(max-width:500px) {
    img {
        width: 100px;
    }
}